  dialog {
      background: rgba(255, 255, 255, 0.7);
      width: 220px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
}
/* dialog-окно 
   background-цвет фона горизонта
   width-ширина окна
   box-shadow=тень от окна
   border-radius= укругление окна , режит углы*/
   .html5 {
      border: 1px solid #8ab643;
      background: #c9e39c;
      font-size: 15px;
      margin-left: 15px;
      padding: 0 2px;
}
/* html5=ярлык
   border=рамка-solid=цвет рамки
   font-size=размер шрифта(букв)
   margin-left=внешний отступ
   padding=внутренний отступ*/
h1 {
       text-align: center;
}
 /*text-align=текст расположение, по центру*/
h2 {
        text-align: center;
   
       
}
.button1{
   background: red;
 }
 .button3 {
   background: rgb(226, 63, 226);
}
   .TIME {
            font-family: fantasy;
/*font-family=текст разного стиля*/
 }
   .HTML {
          background: red;
          margin-right: 5px;
}
   .CSS {
          background: rgb(108, 108, 228);
          margin-right: 5px;
}
  
   .JavaScript {
          margin-right: 5px;
          background: rgb(220, 220, 30)
      
}
   .SQL {
         background: black;
         margin-right: 5px;
}
   .PHP {
         background: rgb(70, 70, 160);
         margin-right: 5px;
}
   .Resursy {

       text-align: center;
       background: rgb(226, 63, 226);
}    
 
   /* The navigation bar */
   .navbar1 {
   overflow: hidden; 
    position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
}
/*управляет тем, что происходит с содержимым, 
   которое слишком велико для размещения в области.*/
/* Links inside the navbar */
   .navbar1 a {
   float: left;
   display: block;
   color: #0e0d0d;
   text-align: center;
   padding: 8px 12px;
   text-decoration: none;
}
/*display=*/
/* Change background on mouse-over */
   .navbar1 a:hover {
   background: whitesmoke;
   color: black;
}
 
/* Main content */
.Main {
   margin-top: 100px; /* Add a top margin to avoid content overlay */
}
 
   /* The navigation bar */
   .navbar2 {
      overflow: hidden;
       position: fixed; /* Set the navbar to fixed position */
      bottom: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      background: rgb(43, 139, 230);
   }
   /* Links inside the navbar */
      .navbar2 a {
      float: left;
      display: block;
      color: #0e0d0d;
      text-align: center;
      padding: 4px 6px;
      text-decoration: none;
   }
   
   /* Change background on mouse-over */
      .navbar2 a:hover {
      background: rgb(7, 255, 61);
      color: black;
   }
    
   /* Main content */
     